### 27.6 심사문제: 특정 문자가 들어있는 단어 찾기

In [28]:
file = open('words.txt', 'w')       
file.write('Fortunately, however, for the reputation of Asteroid B-612, a Turkish dictator made a law that his subjects, under pain of death, should change to European costume. So in 1920 the astronomer gave his demonstration all over again, dressed with impressive style and elegance. And this time everybody accepted his report.')
file.close()

In [34]:
# 문자열이 저장된 words.txt 파일이 주어집니다
# (문자열은 한 줄로 저장되어 있습니다). words.txt 파일에서 
# 문자 c가 포함된 단어를 각 줄에 출력하는 프로그램을 만드세요. 
# 단어를 출력할 때는 등장한 순서대로 출력해야 하며
#  ,(콤마)와 .(점)은 출력하지 않아야 합니다.

with open('words.txt','r') as file:
    words = str(file.readlines()).split()
    for word in words:
        if 'c' in word:
            print(word.strip(',.'))

dictator
subjects
change
costume
elegance
accepted

### 29.4 심사문제: 사칙 연산 함수 만들기

In [3]:
# 표준 입력으로 숫자 두 개가 입력됩니다. 
# 다음 소스 코드를 완성하여 
# 두 숫자의 덧셈, 뺄셈, 곱셈, 나눗셈의 결과가 출력되게 만드세요. 
# 이때 나눗셈의 결과는 실수라야 합니다.

x, y = map(int, input().split())

def calc(a,b):
    return a+b, a-b, a*b, a/b

a, s, m, d = calc(x, y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈: {2}, 나눗셈: {3}'.format(a, s, m, d))

덧셈: 8, 뺄셈: -2, 곱셈: 15, 나눗셈: 0.6

### 30.7 심사문제: 가장 낮은 점수, 높은 점수와 평균 점수를 구하는 함수 만들기

In [26]:
# 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 
# 다음 소스 코드를 완성하여 가장 높은 점수, 가장 낮은 점수, 평균 점수가 
# 출력되게 만드세요. 
# 평균 점수는 실수로 출력되어야 합니다.


korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
      return min(args), max(args)

def get_average(**kwargs):
      return float(sum(kwargs.values())/len(kwargs))

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

### 31.5 심사문제: 재귀호출로 피보나치 수 구하기

In [16]:
# 표준 입력으로 정수 한 개가 입력됩니다(입력 값의 범위는 10~30). 
# 다음 소스 코드를 완성하여 입력된 정수에 해당하는 피보나치 수가 
# 출력되게 만드세요.

# 피보나치 수는 0과 1로 시작하며, 다음 번 피보나치 수는 바로 
# 앞의 두 피보나치 수의 합입니다.

def fib(n):
    if n == 1 or n == 0:
        return 1
    return fib(n-1) + fib(n-2)

n = int(input())
print(fib(n))

8

### 32.5 심사문제: 파일 이름을 한꺼번에 바꾸기

In [1]:
# 표준 입력으로 숫자.확장자 형식으로 된 파일 이름 여러 개가 입력됩니다. 
# 다음 소스 코드를 완성하여 파일 이름이 숫자 3개이면서 
# 앞에 0이 들어가는 형식으로 출력되게 만드세요. 
# 예를 들어 1.png는 001.png, 99.docx는 099.docx, 100.xlsx는 100.xlsx처럼 
# 출력되어야 합니다. 그리고 람다 표현식을 사용해야 하며 출력 결과는 
# 리스트 형태라야 합니다. 람다 표현식에서 파일명을 
# 처리할 때는 문자열 포매팅과 문자열 메서드를 활용하세요.

# files = input().split()                 # 어느 부분이 문제인지 도저히 못 찾겠습니다
# print(list(map(lambda x: '{0:03d}'.format(int(x.split('.')[0])) + '.' + x.split('.')[1], files)))

In [2]:
files = input().split()

print(list(map(lambda x: f"{int(x.split('.')[0]):03d}.{x.split('.')[1]}", files)))

['097.xlsx', '098.docx', '099.docx', '100.xlsx', '101.docx', '102.docx']

In [3]:
files = ['97.xlsx', '98.docx', '99.docx', '100.xlsx', '101.docx', '102.docx']
filename = '97.xlsx'
num = int(filename.split('.')[0])
ext = filename.split('.')[1]
f'{num:03d}.{ext}'

'097.xlsx'

In [4]:
def change_fname(s):
    num = int(s.split('.')[0])
    ext = s.split('.')[1]
    return f'{num:03d}.ext'

In [5]:
list(map(change_fname, files))

['097.ext', '098.ext', '099.ext', '100.ext', '101.ext', '102.ext']

In [6]:
list(map(lambda s: f"{int(s.split('.')[0]):03d}.{s.split('.')[1]}", files))

['097.xlsx', '098.docx', '099.docx', '100.xlsx', '101.docx', '102.docx']

### 연습문제
<pre>
다음 리스트에서 제조사(manufacturer)와 모델명(model)을 분리해서 별도의 리스트를 각각 만드세요.
lambda 함수를 사용하세요.
</pre>

In [7]:
cars = ['buick skylark 320', 'plymouth satellite', 'amc rebel sst', 'ford torino']
manu = list(map(lambda s: s.split()[0], cars))

['buick', 'plymouth', 'amc', 'ford']

In [13]:
car = 'amc rebel sst'
m = car.split()[1:]
' '.join(m)

'rebel sst'

In [15]:
model = list(map(lambda s: ' '.join(s.split()[1:]), cars))
model

['skylark 320', 'satellite', 'rebel sst', 'torino']

In [17]:
import seaborn as sns
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [18]:
mpg.shape

(398, 9)