# Unit 30. 위치 인수, 키워드 인수

In [2]:
import joblib
joblib.__version__

'1.1.0'

In [3]:
# 위치 인수 (positional argument): 10, 20
# 키워드 인수(keyword argument): sep',',end='\n\n'
print(10, 20, sep=',', end='\n\n')

10,20

### 30.1 위치 인수

In [6]:
print(10, 20, 30, 40, 50)

10 20 30 40 50

In [7]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [8]:
print_numbers(10,20,30)

10
20
30

In [9]:
x = [10,20,30]
print_numbers(*x)       # 리스트 언패킹 (x는 주소를 가르킴 -> *로 불러오는 것(pointer))

10
20
30

- 가변 인수

In [16]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [17]:
print_numbers(10,20)

10
20

In [12]:
print_numbers(10,20,30,40)

10
20
30
40

### 30.2 키워드 인수

In [13]:
def personal_info(name, age, address):
    print('Name:', name)
    print('Age:', age)
    print('Address:', address)

In [18]:
# 위치 인수로 호출
personal_info('James', 25, 'Seoul')

Name: James
Age: 25
Address: Seoul

In [19]:
# 위치 인수로 호출할 경우에는 정확히 위치를 지정해야 함
personal_info(25, 'James', 'Seoul')

Name: 25
Age: James
Address: Seoul

In [20]:
# 키워드로 호출
personal_info(age=25, name='James', address='Seoul')

Name: James
Age: 25
Address: Seoul

### 30.3 딕셔너리 언패킹

In [21]:
x = {'name': 'James', 'age':30, 'address':'Seoul'}
personal_info(**x)          ## 딕셔너리 페어로 함수에 값 넣어줄 때 **(별 두개)

Name: James
Age: 30
Address: Seoul

- 가변 키워드 인수

In [24]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [25]:
personal_info2(**x)

name: James
age: 30
address: Seoul

In [26]:
x['gender'] = 'male'
x['country'] = 'South Korea'
x

{'name': 'James',
 'age': 30,
 'address': 'Seoul',
 'gender': 'male',
 'country': 'South Korea'}

In [27]:
personal_info2(**x)

name: James
age: 30
address: Seoul
gender: male
country: South Korea

- 호출하는 순서: 위치 인수가 키워드 인수보다 먼저 나와야 함

In [28]:
personal_info('John', address='Gyeonggi', age=28) ## x = val 등 값 지정해준 것이 키워드 인수임

Name: John
Age: 28
Address: Gyeonggi

- 가변 위치 인수, 가변 키워드 인수

In [29]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs)

In [31]:
custom_print(10,20,30, sep=', ', end='')

10, 20, 30

### 30.4 매개변수에 초기값을 지정하는 경우

In [32]:
def personal_info(name, age, address='비공개'):
    print('Name:', name)
    print('Age:', age)
    print('Address:', address)

In [33]:
personal_info('James', 25, 'Seoul')

Name: James
Age: 25
Address: Seoul

In [34]:
personal_info('James', 25)

Name: James
Age: 25
Address: 비공개