# Unit 14. 조건문 if - else

In [1]:
import random

In [2]:
x = random.randint(1,6)
if x >= 4:
    print('big')
else:
    print('small')
print(x)

small
2

In [3]:
x = random.randint(1,6)
if x % 2 == 0:
    print('even')
else:
    print('odd')
print(x)

even
2

In [4]:
x = random.randint(1,6)
if x % 2 == 0:
    result = 'even number'
else:
    result = 'odd number'
print(x, result)

6 even number

- 조건부 표현식 (3항 연산자)

In [5]:
# Java, JS에서는 result = x % 2 == 0 ? "even" : "odd" ;
result = 'even' if x % 2 == 0 else 'odd'
print(x, result)

6 even

### 14.2 else와 들여쓰기

In [6]:
x = 10
if x == 10:
    print('x is 10')
else:
    print('x is')
print('not 10')

x is 10
not 10

In [7]:
if x == 10:
    print('x is 10')
else:
    print('x is')
    print('not 10')

x is 10

In [8]:
if x == 10:
    pass
else:
    pass

### 14.3 동작 방식

In [11]:
x = 0.0
if x:
    print(x)
else:
    print('0, 0.0, "", False, None')

0, 0.0, "", False, None

### 14.4 여러개의 조건식

In [13]:
# 3과 5의 공배수면 FizzBuzz 출력
# 위의 경우가 아니면 숫자값을 출력

# x = random.randint(1,100)
x = 30
if x % 3 == 0 and x % 5 == 0:
    print('FizzBuzz')
else:
    print(x)

FizzBuzz

In [16]:
x = 14
if x >= 10 and x <= 20:
    print('between 10 and 20')
else:
    print(x)

between 10 and 20

### Practice Q
<pre>
4로 나누어지면 윤년
100으로 나누어지면 평년
400으로 나누어지면 윤년
그외 평년

In [27]:
# test case: 1900, 1901, 2000, 2004
x = random.randint(1,2022)
if x % 4 == 0:
    if x % 100 == 0:
        if x % 400 == 0:
            print(x, '윤년')
        else:
            print(x, '평년')
    else:
        print(x, '윤년')
else:
    print(x, '평년')

1507 평년

In [30]:
# Code Refactoring
x = 2004
if x % 4 == 0:
    if x % 100 == 0 and x % 400 != 0:
        print(x, '윤년')
    else:
        print(x,'윤년')
else:
    print(x, '평년')

2004 윤년

In [28]:
x = 2004
if x % 4 == 0 and not (x % 100 ==0 and x % 400 != 0):
    print (x, '윤년')
else:
    print(x, '평년')

2004 윤년

In [29]:
# not (A and B) ==> not A or not B
x = 1901
if x % 4 == 0 and (x % 100 !=0 or x % 400 == 0):
    print(x, '윤년')
else:
    print(x,'평년')

1901 평년