# Unit 24. 문자열 응용

### 24.1 문자열 조작

- 변경(replace) method

In [2]:
# 문자열의 메소드는 자기 보존적
s = 'Hello, python'
s.replace('python', 'world')

'Hello, world'

In [3]:
s

'Hello, python'

In [6]:
# 리스트의 메소드는 자기 파괴적
a = [10,20,30]
a.sort(reverse=True)

In [7]:
a

[30, 20, 10]

In [9]:
s = s.replace('python', 'world')
s

'Hello, world'

In [12]:
# 정규 표현식 (regular expression)
import re
s = '안녕하세요? Python 코딩 강좌입니다.ㅋㅋ'
re.sub('[^A-Za-z ]', ' ', s)            # substitute - 패턴, 변경될 값, 문자열 parameter 적용
# 영문과 스페이스가 아닌 것 공백으로 변경

'       Python            '

In [13]:
# 한글 이외에는 공백으로 변경
re.sub('[^ㄱ-ㅎㅏ-ㅣ가-힣]', ' ', s)

'안녕하세요         코딩 강좌입니다 ㅋㅋ'

- 문자열 분리(split)

In [14]:
s = 'apple pear grape pinapple orange'
d = s.split()
d

['apple', 'pear', 'grape', 'pinapple', 'orange']

In [15]:
s = 'apple,pear,grape,pinapple,orange'          # ctrl + d
d = s.split(',')
d

['apple', 'pear', 'grape', 'pinapple', 'orange']

In [17]:
stopwords = ['a', 'the', 'I', 'am', 'is']
s = 'I am a graduate student.'
d = s.split()
d = [word for word in d if word not in stopwords]
d

['graduate', 'student.']

- 문자열 리스트 연결(join method)

In [18]:
' '.join(d)

'graduate student.'

In [20]:
' '.join('apple,pear,grape,pinapple,orange'.split(','))

'apple pear grape pinapple orange'

In [21]:
'apple,pear,grape,pinapple,orange'.replace(',', ' ')

'apple pear grape pinapple orange'

In [22]:
s = 'I am a graduate student.'
' '.join(word for word in s.split() if word not in stopwords)

'graduate student.'

In [23]:
d = s.split()
sentence = []
for word in d:
    if word not in stopwords:
        sentence.append(word)
sentence = ' '.join(sentence)
sentence

'graduate student.'

- 대소문자 변환(upper, lower)

In [24]:
'Python'.lower(), 'Python'.upper()

('python', 'PYTHON')

- 공백 삭제(strip, lstrip, rstrip)

In [25]:
s = '   Python  '
s.lstrip(), s.rstrip(), s.strip()

('Python  ', '   Python', 'Python')

- 구둣점 제거

In [27]:
s = ',=Python.!'
s.strip()

',=Python.!'

In [28]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [29]:
s.strip(string.punctuation)

'Python'

- 메소드 체이닝(method chaining)

In [30]:
s = ',=Python.!'
s.lower().strip(string.punctuation)

'python'

In [36]:
s = '   123,000원'
int(s.strip(' 원').replace(',',''))

123000

In [37]:
s = 'USD 1,752.37$'
float(s.strip(' USD').strip(string.punctuation).replace(',',''))

1752.37

- 정렬(rjust, ljust, center)

In [38]:
'python'.ljust(10), 'python'.rjust(10), 'python'.center(1)

('python    ', '    python', 'python')

- 위치 찾기(find, rfind, index, rindex)

In [39]:
'apple pineapple'.find('pp')

1

In [40]:
'apple pineapple'.find('xy')

-1

In [41]:
s = 'A quick brown fox jumps over the lazy dog.'
s.find('fox')

14

In [43]:
s.find('wolf')

-1

In [45]:
search = 'wolf'
if s.find(search) >= 0:
    print('searched item in the sentence')
else:
    print('searched item not in the sentence')

searched item not in the sentence

In [47]:
'fox' in s

True

In [48]:
'apple pineapple'.rfind('pp')

11

In [49]:
'apple pineapple'.index('pp'), 'apple pineapple'.rindex('pp')

(1, 11)

- 문자열 개수 세기

In [4]:
#'apple pineapple'.count('pp')
s = 'apple pineapple'
s.count('pp')

2

### 연습문제
<pre>
1. 디지털 시계 (00:00 ~ 23:59)가 있다.
하룻동안 3이라는 숫자가 표시되는 시간은 몇초인가?

2. 1에서 1000까지 숫자에서 0,1,...,9는 몇번 나오나?
</pre>

In [52]:
# 1. 디지털 시계
time = 0
for hour in range(24):
    for minute in range(60):
        display = str(hour) + ':' + str(minute)
        # display = f'{hour:02d}:{minute:02d}'
        if '3' in display:          # if display.find('3') >= 0
            time += 60
print(time)

29700

In [54]:
# 2. 숫자 갯수
num_string = ''
for i in range(1,1001):
    num_string += str(i)

In [55]:
for i in range(10):
    count = num_string.count(str(i))
    print(i, count)

0 192
1 301
2 300
3 300
4 300
5 300
6 300
7 300
8 300
9 300

### 24.2 문자열 서식 지정자와 포맷팅

In [61]:
ss = 'python'            # 문자열(string) javascript template literal (escape key 아래 위치: 변수 혼합 사용 가능)
print(f'==={ss:10s}===')

'===python    ==='

In [73]:
print('===',ss, '   ', '===', sep='')

===python   ===

In [60]:
dd = 3                   # 정수(decimal)
f'==={dd:4d}:{dd:02d}==='

'===   3:03==='

In [62]:
year, month, day, hour, minute = 2022, 3, 29, 11, 6
f'오늘은 {year}-{month:02d}-{day:02d} 이고, 시간은 {hour:02d}:{minute:02d}입니다.'

'오늘은 2022-03-29 이고, 시간은 11:06입니다.'

In [67]:
price1, price2 = 35000, 1200000
print(f'가격: {price1:10,d}원')
print(f'가격: {price2:10,d}원')

가격:     35,000원
가격:  1,200,000원

In [72]:
import math
f'파이값은 {math.pi:8.5f}입니다.'           #:(8)8폭(.5f)소수점이하 5자리

'파이값은  3.14159입니다.'